/* https://www.realtimecolors.com/dashboard?colors=130716-fcfafd-a248c5-b0dc90-6dd1a9&fonts=Poppins-Poppins */

@tailwind base;

@layer base {
    :root {
      --background: 280 43% 99%;
      --foreground: 288 52% 6%;
      --card: 280 43% 99%;
      --card-foreground: 288 52% 6%;
      --popover: 280 43% 99%;
      --popover-foreground: 288 52% 6%;
      --primary: 283 52% 53%;
      --primary-foreground: 280 43% 99%;
      --secondary: 95 52% 71%;
      --secondary-foreground: 288 52% 6%;
      --muted: 280 43% 20%;
      --muted-foreground: 288 52% 70%;
      --accent: 156 52% 62%;
      --accent-foreground: 288 52% 6%;
      --destructive: 0 85% 60%;
      --destructive-foreground: 288 52% 6%;
      --border: 280 43% 20%;
      --input: 280 43% 20%;
      --ring: 156 52% 40%;
      --radius: 0.5rem;
    }
   
    .dark {
      --background: 280 60% 1%;
      --foreground: 285 53% 94%;
      --card: 280 60% 1%;
      --card-foreground: 285 53% 94%;
      --popover: 280 60% 1%;
      --popover-foreground: 285 53% 94%;
      --primary: 283 52% 47%;
      --primary-foreground: 285 53% 94%;
      --secondary: 94 52% 29%;
      --secondary-foreground: 285 53% 94%;
      --muted: 280 61% 80%;
      --muted-foreground: 285 53% 94%;
      --accent: 156 52% 38%;
      --accent-foreground: 280 60% 1%;
      --destructive: 0 62% 30%;
      --destructive-foreground: 284 53% 10%;
      --border: 280 60% 60%;
      --input: 280 61% 80%;
      --ring: 156 52% 60%;
    }
  }